<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<div class="sidebar">

  <div class="navbar">
    <a routerLink="" routerLinkActive="active">Home</a>
    <a routerLink="viewBook" routerLinkActive="active">View List</a>
    <a routerLink="add" routerLinkActive="active">Add Book</a>
    <a routerLink="updateBook" routerLinkActive="active">Search</a>
  </div>

</div>
<router-outlet></router-outlet>
<footer class="bg-light text-center text-lg-start custom-footer">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>



