.form1{
    border: 10px;
    border-radius: 10px;
    border-style: solid;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
}
.form-group{
    margin-top: 1%;
}
.form-control{
    margin-top: 1%;
}
.form-select{
    margin-top: 1%;
}
.custom-button {
    /* Add your custom styles here */
    
    color: white;
    width: 20%;
    padding:1%;
    margin-bottom: 1%;
    margin-top: 1%;
    /* Add more styles as needed */
  }